<%- include('partials/header') %>

<div class="item-j1">
    <img src="https://images.unsplash.com/photo-1520975916090-3105956dac38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fG1lbnMlMjBqYWNrZXR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>

</div><div class="item-j2">
    <img src="https://images.unsplash.com/photo-1531945086322-64e2ffae14a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG1lbnMlMjBqYWNrZXR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
        <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-j3">
    <img src="https://images.unsplash.com/photo-1598915850252-fb07ad1e6768?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG1lbnMlMjBqYWNrZXR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-j4">
    <img src="https://images.unsplash.com/photo-1553143820-6bb68bc34679?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fG1lbnMlMjBqYWNrZXR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-j5">
    <img src="https://images.unsplash.com/photo-1621964275191-ccc01ef2134c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fG1lbnMlMjBqYWNrZXR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<%- include('partials/footer') %>

<script src="/bag.js"></script>
</body>
</html>