<%- include('partials/header') %>

<div class="item-s1">
    <img src="https://images.unsplash.com/photo-1607345366928-199ea26cfe3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2hpcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>    
    <div class="details">
        <h2>H&M</h2>
        <h3>Sweatshirt</h3>
        <h4>Rs.788</h4>
        <p><s>Rs.1899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>

<div class="item-s2">
    <img src='https://images.unsplash.com/photo-1618001789159-ffffe6f96ef2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWVuJTIwc2hpcnR8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Roadster</h2>
        <h3>Casual Shirt</h3>
        <h4>Rs.599</h4>
        <p><s>Rs.1499</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
    
<div class="item-s3">
    <img src='https://images.unsplash.com/photo-1503341504253-dff4815485f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAyfHxtZW4lMjBzaGlydHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Vero Moda</h2>
        <h3>Regular Tshirt</h3>
        <h4>Rs.999</h4>
        <p><s>Rs.1899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-s4">
    <img src='https://images.unsplash.com/photo-1651592440650-2c1dfddf3573?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzEzfHxtZW4lMjBzaGlydHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-s5">
    <img src='https://images.unsplash.com/photo-1672857995200-358b2f40ff5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjk2fHxtZW4lMjBzaGlydHxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<%- include('partials/footer') %>

<script src="/bag.js"></script>
</body>
</html>