<%- include('partials/header') %>

<body><div class="item-j1">
    <img src="https://images.unsplash.com/photo-1672529279631-54b235fba723?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fHdvbWVuJTIwamFja2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="shirt image"/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-j2">
    <img src='https://images.unsplash.com/photo-1592423788390-2e71e064f724?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHdvbWVuJTIwamFja2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-j3">
    <img src='https://images.unsplash.com/photo-1621184455862-c163dfb30e0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHx3b21lbiUyMGphY2tldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-j4">
    <img src='https://images.unsplash.com/photo-1585215173785-7f3c2252c25a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHdvbWVuJTIwamFja2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<div class="item-j5">
    <img src='https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fHdvbWVuJTIwamFja2V0fGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='shirt image'/>
    <div class="details">
        <h2>Selvia</h2>
        <h3>Cotton Tshirt</h3>
        <h4>Rs.399</h4>
        <p><s>Rs.899</s></p>
        <h5>(49% OFF)</h5>
    </div>
    <%- include('partials/size.ejs') %>
</div>

<%- include('partials/footer') %>

<script src="/bag.js"></script>
</body>
</html>